<div class = "mission">
    <div class = "title">
        <h3 class= "headers" id = "mission"> My Mission </h3>
    </div>
    <p class = "mission-text center">
        I love to learn. Whether it be cooking, designwork, woodworking or coding, I follow my curiosity. 
        I wish to work for organizations that allow me to continue this tradition and allow me can spread it to others. 
        <br /> 
    </p>
    <h3 class= "aboutmetitle center">
        A Little About Me
    </h3>
    <ul class = "mission-text aboutme">
        <li> I grew up in Stockholm, Sweden until the age of 10 and speak fluent Swedish </li>
        <li> I spent 9 years in Louisville, Kentucky before moving with my family to Park City after highschool</li>
        <li> I love all types of board games and will challenge all my friends </li>
        <li> I try to be in the outdoors as much as possible in my free time and go on the occassional camping trip</li>
        <li> In line with that, I play soccer, basketball and try to run a couple times a week</li>
    </ul>

</div>
