<div class = resume-container>
    <div class = "title">
        <h2 class="headers" id="resume"> Resume </h2> <%= link_to resume_pdf_path, class: "download-btn" do %> Download: <i class="fa fa-download" aria-hidden="true"></i> <%end%> 
    </div>
    <div class = "resume">
        <div class= "resume-text">
            <h3>Summary of Qualifications</h3>
            <ul>
                <li>Academic success in a school setting.</li>
                <li>Work in a formal setting with a high importance set dealing with difficult situations and learning on the fly</li>
                <li>Formal training in customer service and talking to guests/clients and OPERA hospitality computer system. </li>
                <li>Fast learner, computer competency and good at mathematical reasoning.</li>
                <li>Worked with handling sizeable sums of money and with mail</li>
            </ul>
            <h3>Work Experience</h3>
            <ul>
                <li>Reception & Porter Radisson Blu Waterfront (Feb - June). </li>
                <li>StudyBuddy (Sept - Dec 20). Tutor</li>
                <li>Lifeguard, Lakeside Swim Club, June 2018 to Sept 2018 and June 2019 to August 2019. CPR/First Aid/Lifeguard certified, responsible for patron safety and facility upkeep </li>
            </ul>
            <h3>Skills </h3>
            <ul>
                <li>High computer competency and mathematical reasoning </li>
                <li>Experience with Ruby on Rails (as well as with popular gems such as Devise, Bootstrap, Stripe, Pagy), Java (some JavaFX), SQL, CSS, HTML5, and some Javascript. </li>
                <li>General understanding of various algorithms and datastructures.</li>
            </ul>
            <h3>Education </h3>
            Middlebury College 2020 - 2024 (attending) <br /> <br />
            DuPont Manual High School, Louisville, KY Class of 2019 
            <ul>
                <li>GPA 4.0 Unweighted </li>
                <li>ACT 34 Composite </li>
                <li>AP Classes - 7 completed, 12 total by graduation </li>
            </ul>
            High Mountain Institute Semester School, Leadville Colorado Fall 2017 
            <ul>
                <li>GPA 4.0 </li>
                <li>Two 18-day Wilderness Expeditions</li>
            </ul>
        </div>
    </div>
</div>